{% extends "base.html" %}

{% block title %}Actualizar Catálogo{% endblock title %}

{% block content %}

<div class="container-md">

    <h2 class="text-center mb-4">Actualizar Catálogo</h2>

    <div class="card px-4 pt-4 shadow-sm">

        <div class="card-body">

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="id_id" class="form-label">ID</label>
                    <input type="text" name="id" id="id_id" value="{{ form.id.value|default:'' }}" class="form-control" readonly>
                </div>

                <div class="mb-3">
                    <label for="id_catalogo" class="form-label">Catálogo</label>
                    <input type="text" name="catalogo" id="id_catalogo" value="{{ form.catalogo.value|default:'' }}" class="form-control"
                           {% if form.catalogo.value == None %}readonly{% endif %}>
                </div>

                <div class="mb-3">
                    <label for="id_item_catalogo" class="form-label">Item Catálogo</label>
                    <input type="text" name="item_catalogo" id="id_item_catalogo" value="{{ form.item_catalogo.value|default:'' }}" class="form-control"
                           {% if form.item_catalogo.value == None %}readonly{% endif %}>
                </div>

                <button type="submit" class="btn btn-primary mt-3">Guardar</button>
            </form>

        </div>

    </div>

    <p></p>

</div>

{% endblock content %}
