{% extends "base.html" %}
{% block title %}Lista de Clientes{% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-primary mb-4">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="{% url "videojuegos:index" %}">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="{% url "videojuegos:clientes" %}">Clientes</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="{% url "videojuegos:inventario" %}">Inventario</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="{% url "videojuegos:clientes" %}">Ventas</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="{% url "videojuegos:catalogos" %}">Cat&aacute;logos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid">
    <h2 class="mb-3 text-center">Lista de Clientes</h2>
    <a href="{% url 'videojuegos:registro' %}" class="btn btn-primary mb-4">Añadir nuevo</a>
    <a href="{% url 'videojuegos:registro' %}" class="btn btn-primary mb-4">Consultar</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cédula</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Provincia</th>
                <th>Dirección</th>
                <th>Estado del Cliente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.apellidos_nombres }}</td>
                <td>{{ cliente.cedula }}</td>
                <td>{{ cliente.correo }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.provincia }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.id_estado_cliente}}</td>
                <td><a href = "actualizar/{{cliente.cedula}}" class="btn btn-primary">
					<i class="fa-solid fa-pencil"></i>
				</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
