{% extends "base.html" %}

{% block title %}Consultar Inventario{% endblock title %}

{% block content %}
<div class="container-md">
    <h2 class="text-center mb-4">Consultar Inventario</h2>
    <div class="card p-4 shadow-sm">
        <div class="card-body">
            <form method="GET" action="{% url 'videojuegos:consultar_inventario' %}">
                <div class="mb-3">
                    <label for="codigo_producto" class="form-label">Código:</label>
                    <input type="text" class="form-control" id="codigo_producto" name="codigo_producto" placeholder="Ingrese el código del videojuego" value="{{ request.GET.codigo_producto }}" required>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
            
            {% if inventario_info %}
                <div class="mt-4">
                    <div class="card">
                        <div class="card-header">
                            Información del Videojuego
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <td>{{ inventario_info.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Código de producto</th>
                                        <td>{{ inventario_info.codigo_producto }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nombre</th>
                                        <td>{{ inventario_info.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <th>Formato</th>
                                        <td>{{ inventario_info.formato }}</td>
                                    </tr>
                                    <tr>
                                        <th>Género</th>
                                        <td>{{ inventario_info.genero }}</td>
                                    </tr>
                                    <tr>
                                        <th>Plataforma</th>
                                        <td>{{ inventario_info.plataforma }}</td>
                                    </tr>
                                    <tr>
                                        <th>Año de Lanzamiento</th>
                                        <td>{{ inventario_info.ano_lanzamiento }}</td>
                                    </tr>
                                    <tr>
                                        <th>Precio</th>
                                        <td>{{ inventario_info.precio }}</td>
                                    </tr>
                                    <tr>
                                        <th>Stock</th>
                                        <td>{{ inventario_info.stock }}</td>
                                    </tr>
                                    <tr>
                                        <th>Estado de Producto</th>
                                        <td>{{ inventario_info.estado }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>{{ mensaje }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
