{% extends "base.html" %}

{% block title %}Consultar Cliente{% endblock title %}

{% block content %}
<div class="container-md">
    <h2 class="text-center mb-4">Consultar Cliente</h2>
    <div class="card p-4 shadow-sm">
        <div class="card-body">
            <form method="GET" action="{% url 'videojuegos:consultar_cliente' %}">
                <div class="mb-3">
                    <label for="cedula" class="form-label">Número de Cédula:</label>
                    <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Ingrese el número de cédula" value="{{ request.GET.cedula }}" required>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>

            {% if cliente_info %}
                <div class="mt-4">
                    <div class="card">
                        <div class="card-header">
                            Información del Cliente
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <td>{{ cliente_info.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Cédula</th>
                                        <td>{{ cliente_info.cedula }}</td>
                                    </tr>
                                    <tr>
                                        <th>Apellidos y Nombres</th>
                                        <td>{{ cliente_info.apellidos_nombres }}</td>
                                    </tr>
                                    <tr>
                                        <th>Correo</th>
                                        <td>{{ cliente_info.correo }}</td>
                                    </tr>
                                    <tr>
                                        <th>Provincia</th>
                                        <td>{{ cliente_info.provincia }}</td>
                                    </tr>
                                    <tr>
                                        <th>Dirección</th>
                                        <td>{{ cliente_info.direccion }}</td>
                                    </tr>
                                    <tr>
                                        <th>Estado Cliente</th>
                                        <td>{{ cliente_info.estado }}</td>
                                    </tr>
                                    <tr>
                                        <th>Teléfono</th>
                                        <td>{{ cliente_info.telefono }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>{{ mensaje }}</p>
            {% endif %}
        </div>
    </div>
    <p></p>
</div>
{% endblock content %}
