{% extends "base.html" %}

{% block title %} Ingresar Inventario{% endblock title %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-primary mb-4">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="{% url "videojuegos:index" %}">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="{% url "videojuegos:clientes" %}">Clientes</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="{% url "videojuegos:inventario" %}">Inventario</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="{% url "videojuegos:clientes" %}">Ventas</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="{% url "videojuegos:clientes" %}">Cat&aacute;logos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container-md">
    <h2 class="text-center mb-4">Ingresar Inventario</h2>
    <div class="card px-4 pt-4 shadow-sm">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_nombre" class="form-label">Nombre del Videojuego</label>
                    <input type="text" name="nombre" id="id_nombre" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="id_formato" class="form-label">Formato</label>
                    <input type="text" name="formato" id="id_formato" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="id_genero" class="form-label">G&eacute;nero</label>
                    <input type="text" name="genero" id="id_genero" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="id_plataforma" class="form-label">Plataforma</label>
                    <input type="text" name="plataforma" id="id_plataforma" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="id_ano_lanzamiento" class="form-label">Año de Lanzamiento</label>
                    <input type="number" name="ano_lanzamiento" id="id_ano_lanzamiento" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="id_precio" class="form-label">Precio</label>
                    <input type="number" name="precio" id="id_precio" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="id_stock" class="form-label">Stock</label>
                    <input type="number" name="stock" id="id_stock" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Guardar</button>
            </form>
        </div>
    </div>
    <p></p>
</div>

{% endblock content %}