{% extends "base.html" %}

{% block title %} Ingresar Catalogo{% endblock title %}
{% block content %}

<div class="container-md">
    <h2 class="text-center mb-4">Ingresar Catálogo</h2>
    <div class="card p-4 shadow-sm">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="catalogo" class="form-label">Título del Catálogo:</label>
                    <input type="text" class="form-control" id="catalogo" name="catalogo" required>
                </div>
                <div class="mb-3">
                    <label for="item_catalogo" class="form-label">Item del Catálogo:</label>
                    <input type="text" class="form-control" id="item_catalogo" name="item_catalogo" required>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}